.tags-wrapper {
    max-width: 320px;
    position: relative;
    height: auto;

    &__content {
        display: inline-flex;
        transition: max-height 0.3s ease;
        position: relative;
    }

    &__create-tag-popover {
        min-width: 280px;
    }

    &__create-button {
        width: 100%;
        margin-top: 8px;
    }

    &__expand-icon {
        cursor: pointer;
        align-self: flex-start;
        justify-self: flex-end;
    }
}
