.header {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: end;
    align-items: center;

    &__menu {
        display: flex;
        width: fit-content;
        height: 100%;
        align-items: center;
    }

    &__logout-icon {
        position: relative;
        z-index: 100;
        color: red;
        cursor: pointer;
    }

    &__title {
        justify-self: flex-start;
    }
}
