DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_HOST=db
BE_PORT=3000
FE_PORT=5173
NODE_ENV=development
JWT_SECRET=12345
REFRESH_SECRET=67890
S3_ACCESS_KEY=admin-123
S3_PUBLIC_DOMAIN=https://frwerw
S3_SECRET_ACCESS_KEY=secret