.nowadays {
    width: 100%;
    height: 100%;
    padding-top: 56px;

    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide > div {
        height: 100%;
    }

    &__block {
        width: 100%;
        min-height: 310px;
        text-align: start;
        position: relative;
        overflow: hidden;
    }

    &__title {
        width: 100%;
        min-height: 76px;
        margin: 0 !important;
        padding: 20px 24px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 70% 100%, 0% 100%);
    }

    &__content {
        padding: 20px 24px;
    }

    &__lottie {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        justify-self: end;
        max-width: 45%;
        z-index: 1;
        pointer-events: none;
    }

    @media (max-width: 1199px) {
        padding-top: 0;
    }

    @media (max-width: 575px) {
        &__block {
            min-height: 240px;
        }

        &__lottie {
            max-width: 38%;
        }
    }
}
